body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.tag {
    background-color: #18bc9c;
    border-color: #18bc9c;
    color: #ffffff;
    padding: 7px;
    margin-bottom: 21px;
    border: 1px solid transparent;
    border-radius: 4px;
    display: inline-block;
}

    .tag input[type='checkbox'] + label:after {
        content: "X";
        padding-left: 15px;
        color: #000;
        opacity: 0.2;
        filter: alpha(opacity=20);
    }

        .tag:hover input[type='checkbox'] + label:after {
            opacity: 0.5;
            filter: alpha(opacity=50);
        }

    .tag input[type='checkbox'] {
        /*display: none;*/
    }
